* {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  overflow: hidden;
  text-align: center;
}

body {
  background-color: blueviolet;

  #main {
    margin: auto;
    min-height: 100vh;
    min-width: 80vw !important;
    margin-top: -3rem;
    color: pink;

    .cointainer {
      min-height: 50vh;
      border: 2px dotted white;

      span {
        background-color: #fff;
      }
    }
  }

}
