* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
